.corpdiv{
  background-color: #333;
  height: 170px;
  text-size-adjust: 30px;
}

.corpdiv2{
  background-color: #333;
  height: 580px;
  width: 13%;
  float: left;
}

.thinline{
  background-color:rgb(255, 130, 6);
  height: 5px;
}

.corpbody{
  background-image: url('./../images/logo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-color:black ;  
}

.corploggout1{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #333333a0;
}

.show {display: block;}