input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color:rgb(255, 130, 6);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #835c06;
  }
  
  .feedbackcontainer {
    width: 100%;
  }

  .mapcontainer{
    width: 100%;
  }

  .reviews {
    white-space: nowrap;
    width: 80%;
    height: 150px;
    overflow: hidden;
  }
  .reviews:hover {
    overflow-y: scroll;
  }