body {margin: 0;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: #111;}
  
  ul.topnav li a.active {background-color:rgb(255, 130, 6);}
  
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }

  .active{
    background-color:rgb(255, 130, 6);
  }

  .topnav input[type=text] {
    text-align: left;
    width: 30%;
    height: 10px;
    position: relative;
    left: 18%;
    border-radius: 25px;
  }

  .pwr:hover{
    background-image: url("./../../images/powerOn.png");
    width: 30px;
    height: 30px;
  }
  
  .pwr {
    background-image: url("../../images/power.png");
    width: 30px;
    height: 30px;
  }